<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BachOffice - Escamboapp</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'backoffice', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="wrapper">
      <%= render partial: "layouts/backoffice_shared/navigation" %>
      <div id="page-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="clo-lg-12">
                <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'backoffice' %>
    <%= render partial: 'layouts/shared/notifications' %>
  </body>
</html>
